<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chính sách bảo mật</title>
    <link rel="shortcut icon" href="image/logo05.png">
    <link rel="apple-touch-icon" href="image/logo05.png">
    <link rel="icon" href="image/logo05.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/privacy.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body style="background: none">
    <div class="top-nav-bar">
        <a href="/"><img src="image/logo05.png" alt="" class="logo01"></a>
        <form action="/find" class="form-search-box" method="get" enctype="multipart/form-data">
            <div class="search-box">
                <!-- <i class="fa fa-bars" id="menu-btn" onclick="openmenu()" aria-hidden="true"></i>
    <i class="fa fa-times" id="close-btn" onclick="closemenu()" aria-hidden="true"></i> -->
                <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" class="form-control" placeholder="Nhập tên sản phẩm muốn tìm">
                <button type="submit" class="searchButton">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
            </div>
        </form>

        <div class="menu-bar">
            <ul>
                <!-- <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        Cart</a></li>  -->
                <li><a href="/login">Đăng nhập</a></li>
                <li><a href="/signup">Đăng ký</a></li>
                <li><a href="/upload">Đăng sách</a></li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="sidenav">
            <li>
                <a class="active" href="#home">
                    <h4><strong>Chính sách bảo mật</strong>
                    </h4>
                </a>
            </li>
            <li><a href="#introduce">Giới thiệu</a></li>
            <li><a href="#information-individual">Cách thu thập thông tin cá nhân</a></li>
            <li><a href="#use">Cách chúng tôi sử dụng thông tin cá nhân</a></li>
            <li><a href="#share">Cách chúng tôi chia sẽ thông tin cá nhân</a></li>
            <li><a href="#change">Thay đổi chính sách bảo mật</a></li>
        </ul>

        <div class="contentt">
            <h3 id="introduce" style="text-align: center; margin-top: 30px; "><b>CHÍNH SÁCH BẢO MẬT CỦA DIMA</b></h3>
            <br><br>
            <h4 id="information-individual"><b>Giới thiệu</b></h4>
            <p>Khi sử dụng dịch vụ của chúng tôi, bạn tin tưởng cung cấp thông tin của bạn cho chúng tôi. Chúng tôi hiểu rằng đây là một trách nhiệm lớn và chúng tôi nỗ lực bảo vệ thông tin của bạn cũng như để bạn nắm quyền kiểm soát. Chính sách bảo mật
                này nhằm mục đích giúp bạn hiểu rõ những thông tin chúng tôi thu thập, lý do chúng tôi thu thập và cách bạn có thể cập nhật, quản lý, xuất và xóa thông tin của mình.
            </p>
            <br><br>
            <h4><b>Cách thu thập thông tin cá nhân</b></h4>
            <p>Thông tin cá nhân là bất kỳ thông tin nào mà có thể được sử dụng để xác định người đăng tin và mua. Dima có thể thu thập thông tin cá nhân về người mua và người bán (như tên, email, số điện thoại, ngày sinh và địa chỉ), theo những cách sau
                đây:
            </p>
            <ul>
                <li style="margin-left: 3%">Thông qua trang web;</li>
                <li id="use" style="margin-left: 3%">khi người mua và bán đánh giá sản phẩm hoặc nhận xét về sản phẩm/dịch vụ của chúng tôi.</li>
            </ul>
            <br><br>
            <h4><b>Cách chúng tôi sử dụng thông tin cá nhân</b></h4>
            <ul>
                <li style="margin-left: 3%">Dima thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.</li>
                <li id="share" style="margin-left: 3%">Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với quý khách dưới các hình thức như email, điện thoại, tin nhắn... Quý khách cũng có thể nhận được email cung cấp thông tin sản phẩm, dịch vụ mới, thông
                    tin về các sự kiện sắp tới hoặc thông tin tuyển dụng... nếu quý khách đăng ký nhận email thông báo.</li>
            </ul>
            <br><br>
            <h4><b>Cách chúng tôi chia sẽ thông tin cá nhân</b></h4>
            <ul>
                <li style="margin-left: 3%">Ngoại trừ các trường hợp về "Sử dụng thông tin cá nhân" như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân quý khách ra ngoài.</li>
                <li style="margin-left: 3%"> Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường và khi đó thông tin của quý khách sẽ được cung cấp cho đơn vị này để tiến hành dự án. Bên thứ ba này sẽ bị ràng buộc bởi một
                    thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành dự án.</li>
                <li style="margin-left: 3%">Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của quý khách trong các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của các cơ quan pháp luật; (b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo
                    vệ quyền lợi chính đáng của chúng tôi trước pháp luật; (c) tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên Dima</li>
            </ul>
            <br><br>
            <h4 id="change"><b>Thay đổi chính sách bảo mật</b></h4>
            <p>Chúng tôi sẽ sử dụng thông tin cá nhân do người tiêu dùng cung cấp phù hợp với Chính sách Bảo mật mà theo đó thông tin được thu thập. Nếu chúng tôi quyết định thay đổi Chính sách Bảo mật của chúng tôi, chúng tôi sẽ đăng các thay đổi trên trang
                web của chúng tôi để người tiêu dùng luôn biết được chúng tôi thu thập những thông tin nào, cách chúng tôi sử dụng thông tin và chúng tôi tiết lộ thông tin (nếu có) trong trường hợp nào. Chính Sách Bảo Mật này được cập nhật lần cuối vào
                28 tháng 8 năm 2019.</p>
        </div>
    </div>
    <div class="footer" style="background:#ececec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h4>Giới thiệu</h4>
                    <p class="pr-5 text-black-50">Tổ chức của chúng tôi là một tổ chức phi lợi nhuận. Mục đích của sản phẩm là dùng để chia sẻ những vật dụng không còn nhu cầu sử dụng, ví dụ như sách vở.</p>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Tham khảo</h4>
                    <ul class="m-0 p-0">
                        <li>- <a href="/privacy">Chính sách bảo mật</a></li>
                        <li>- <a href="#">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Liên hệ</h4>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>135B Trần Hưng Đạo, Cầu Ông Lãnh, Quận 1, TP Hồ Chí Minh</p>
                    <p><img class="zalo-icon" src="image/zaloicon.png" alt=""> 0934 773 909</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>trancaoviet7514@gmail.com</p>
                    <a href="https://www.facebook.com/trancaoviet"><i class="fa fa-facebook-square"></i>https://www.facebook.com/trancaoviet</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-black-50">© 2019. Phiên bản 1.0.0. Được phát triển bởi ___team.</small></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>