*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #f1f3f4; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebee;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* top-nav-bar */
*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #f1f3f4; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebee;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #00cc00;
    z-index: 2;
}

.dropbtn-content{
    font-size: 13px;
}

@media only screen and (max-width: 450px){
    .dropbtn-content{
        display: none;
    }
    .fa-caret-down{
        margin-right: 5px;
    }
}

/* drop down */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.fa-caret-down{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.dropdown button{
    background-color: #00cc00;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 118px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: center;
    font-size: 10px;
    width: 144px;
    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container{
    padding: 0;
}

.container-top-nav-bar{
    padding: 0 !important;
}

.logo{
    height: 25px;
    width: 25px;
}

.logoContent{
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 25px; 
    color: #ffffff;
    margin-right: 10px;
    margin-left: 2px;
}

.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #4d94ff !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    background: #4d94ff !important;
    border: 1px solid #4d94ff !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    cursor: pointer;
}

.search-box{
    display: inline-flex;
    height: 40px;
}

.form-search-box{
    display: inline-flex;
    width: 50%;
    height: 40px;
}

.fa-search{
    color: #ffffff;
}
.menu-bar{
    width: 40%;
    height: 40px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    list-style-type: none;
    padding: 15px 20px;
    text-align: center;
    background-color: #00cc00;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    color: #ffffff;
}
.fa-shopping-basket{
    margin-right: 5px;
}

@media only screen and (max-width: 995px){
    .menu-bar{
        display: none;
    }
}

#menu-btn, #close-btn{
    font-size: 30px;
    margin: 10px;
    color: #4d94ff;
    display: none;
}

@media only screen and (max-width: 980px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
}

/* search button */
.searchButton{
    height: 32px;
    padding: 0;
    background-color: #ffffff;
    width: 45px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border: 0px;
}

@media only screen and (max-width: 990px){
    .search-box{
        width: 100%;
    }
}

.fa-search{
    font-size: 15px;
    color: #00cc00;
    margin: 5px;
    margin-right: 8px;
}

/* search  */
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
    width: 490px !important;
    border-right: 1px solid #cccaca !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    height: 32px !important;
    padding-left: 10px !important;
    border: 0px !important;
}

.typeahead {
	background-color: #FFFFFF;
}

@media only screen and (max-width: 365px){
    .typeahead{
        width: 150px !important;
    }
}

.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 0px;
	padding: 3px 0;
    width: 206px;
    margin-left: 30px;
}
.tt-suggestion {
	font-size: 15px;
	line-height: 20px;
	padding: 3px 10px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: rgb(188, 188, 189);
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}


@media only screen and (max-width: 360px){
    .typeahead{
        width: 150px;
    }
}

/* place holder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CFCFCF;
    font-size: 13px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #CFCFCF;
    font-size: 13px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #CFCFCF;
    font-size: 13px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #CFCFCF;
    font-size: 13px;
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* table */
.table{
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
}

tr td i{
    margin: 10px;
}

.priceColumn{
    max-width: 240px;
}

.nameColumn{
    max-width: 485px;
}
.addProduct{
    padding: 10px;
    color: #00cc00;
}

@import "compass/css3";

.mySection {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
table {
    width: 100%; 
  text-align: center;
  min-width: 700px;
}
th, td {
  padding: 10px 0;
}
td{
    border: 1px solid #000000;
}
th {
  color: #007400;  
}
tr {
  background: #ffffff;
}
.first{
    background: #007400;
    border-top: none;
}
.first th{
    color: #f1f1f1;
}
.mySection div {
  overflow-x:scroll;
}

@media only screen 
and (max-width : 700px) {
    .mySection {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
    .mySection:after {
    content:'';
  	position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		right: 0;
		width: 10%;
		background: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:    -moz-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:     -ms-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:      -o-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:     linear-gradient(to right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
	}
.mySection:before {
		content:'';
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		width: 10%;
		background: -webkit-linear-gradient(right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:    -moz-linear-gradient(right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:     -ms-linear-gradient(right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:      -o-linear-gradient(right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
		background:       linear-gradient(to left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2));
	}
}

.manipulation{
    cursor: pointer;
    color: #00cc00;
}
.manipulation i{
    
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007400; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #007400; 
  }

  .image{
      width: 80px;
      height: 80px;
      transition: 0.5s;
      object-fit: cover;
  }

  .image:hover{
      opacity: 0.5;
  }

  .fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
 
    .fade:hover {
       opacity: 0.5;
       }

/* custom select */
.select{
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    color: gray;
}

option{
    color: gray;
}

/* footer */
.footer{
    background: #e9ebee;
    color: #000000;
    margin-top: auto;
    text-align: center;
}